<div class="container">
  <div class="container-list">
    <div class="toolbar">
      <button routerLink="new">Create User</button>
    </div>

    <div class="users">
      <table>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Type</th>
        </tr>

        <tr class="users_list" *ngFor="let row of users" [routerLink]="['/edit/', row.username]">
          <td>{{row.username}}</td>
          <td>{{row.first_name}}</td>
          <td>{{row.last_name}}</td>
          <td>{{row.email}}</td>
          <td>{{row.user_type}}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="container-detail">
    <router-outlet></router-outlet>
  </div>
</div>

<app-notification></app-notification>
